<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IEmployeeDataService" />
                <binding name="WSHttpBinding_ICallDataService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8732/Design_Time_Addresses/HelpdeskDataServices/EmployeeDataService/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IEmployeeDataService"
                contract="EmployeeDataReference.IEmployeeDataService" name="WSHttpBinding_IEmployeeDataService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8732/Design_Time_Addresses/HelpdeskDataServices/CallDataService/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICallDataService"
                contract="CallDataReference.ICallDataService" name="WSHttpBinding_ICallDataService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>